.content-container {
  color: white;
  display: flex;
  flex-flow: column;
  padding: 3rem 3rem 3rem 4rem;
}

.content-section1 {
  padding-right: 25rem;
}

.content-section1__h2 {
  padding-top: 1rem;
  font-size: 3.75rem;
  margin: 0;
}

.content-section1__h4 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 1.25rem;
  margin: 0;
}

input {
  height: 2.5rem;
  width: 20rem;
  padding-right: 1rem;
  margin-right: 1rem;
  background-color: rgb(55, 54, 54);
  color: white;
  opacity: 100%;
  border: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 2px;
  padding-left: .75rem
}

.content-section1__p {

}

.content-section1-form-container {
  padding-bottom: 2rem;
}



// ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
// ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

// ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
//     transform: translateY(-1.1em) scale(.75);
//     width: 133.33333%;
// }


.content-section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

app-content-card {
  flex: 0 0 24.5%;
}

