<div class="form-container">
  <h3>Sign In</h3>
  <form action="" class="form-container__form">
    <mat-form-field >
      <mat-label>Email</mat-label>
      <input type="email" matInput>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Password</mat-label>
      <input type="password" matInput>
    </mat-form-field>
    <button mat-button style="background-color: red; color: white">Sign In</button>
    <div class="form-container__form-radio-container">
      <input type="radio" value="Remember me">
      <label for="">Remember me</label>
      <a href="#">Need help?</a>
    </div>
    <div class="form-container__form-footer">
      <p>New to Netflix? <span><a>Sign up now</a></span></p>
      <p>This page is protected by Google reCAPTCHA to ensure you are not a bot.</p>
    </div>
  </form>
</div>
